@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cs-container {
    @apply max-w-[1100px] w-11/12 mx-auto;
  }

  .radial-white-gradient {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .call-action-button-gradient {
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  .subtile-lighting-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
}
